*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all .3s ease;
  font-family: 'Poppins', sans-serif; 
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif; 
    font-weight: 300;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
  }
  @media only screen and (min-width: 1050px) {
    body::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop';
    }
  }

.heading1 {
    font-size: 7rem;
    font-weight: 700;
}

.heading2 {
    font-size: 5rem;
    font-weight: 700;
}

.heading3 {
    font-size: 3rem;
    font-weight: 300;
}

.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  -webkit-appearance: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  border: 1px solid red;
}

.btn:hover {
  background-color: #000000;
  color: #fff;
}
.btn__start {
    padding: 1rem 2rem;
    margin-top: 6rem;
    background-color: #C8102E;
    color: #fff;
    font-size: 2rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none;
}

.btn__start:hover {
    background-color: #fff;
    color: #C8102E;
    transform: translateY(3px);
}

.btn__next {
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    -webkit-appearance: none;
    cursor: pointer;
}

.btn__next:hover {
 background-color: #000000;
 color: #fff;
 transform: translateY(3px);
}

.btn__prevSection {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: none;
}

.btn__nextSection {
 
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.button-block {
  display:flex;

}

.survival__start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #C8102E;
    color: #fff;
}

.survival__question {
    height: 100vh;
    display: flex;
}

.survival__question--block {
    height: 100vh;
    width: 50vw;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.survival__question--img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.question {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.question input:hover {
  text-decoration: underline;
}

